<section class="bg-sidebar2 d-flex">
    <aside class="bg-sidebar2 text-white p-4" style="width: 240px">
        <!-- Logo -->
        <div class="d-flex align-items-center justify-content-center mb-4">
            <span class="h2 mb-0">CineSeats</span>
        </div>

        <!-- Navigation -->
        <nav>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <a href="/account/general"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-solid fa-address-card me-2"></i> <span>General</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/account/membership"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-regular fa-credit-card me-2"></i> <span>Membership Card</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/account/voucher"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-solid fa-ticket me-2"></i> <span>Voucher</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/account/booking-history"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-solid fa-cart-shopping me-2"></i> <span>Booking History</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/account/change-password"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-solid fa-gear me-2"></i> <span>Change password</span>
                    </a>
                </li>
                <li class="mb-3">
                    <a href="/logout"
                       class="d-flex align-items-center p-2 text-white text-decoration-none hover-bg-secondary rounded">
                        <i class="fa-solid fa-right-from-bracket me-2"></i><span class="text-white">Log out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</section>
