<div class="sidebar col-md-2">
    <h2 class="text-white text-center">CineSeats</h2>
    <a href="/admin/dashboard" id="dashboard-link">Dashboard</a>
    <a href="/admin/account" id="account-link">Account Management</a>
    <a href="/admin/movie" id="movie-link">Movie Manager</a>
    <a href="/logout" id="logout-link">Log out</a>
</div>

<script>
    document.querySelectorAll('.sidebar a').forEach(link => {
        if (link.href === window.location.href) {
            link.classList.add('active');
        }
    });

    document.querySelector('.sidebar').addEventListener('click', function (event) {
        if (event.target.tagName === 'A') {
            document.querySelectorAll('.sidebar a').forEach(link => link.classList.remove('active'));
            event.target.classList.add('active');
        }
    });
</script>