<section>
    <div class="body-login-register">
        <div class="form-container m-4">
            <p class="title">Welcome back</p>
            <form class="form" action="/login" method="POST">
                <input type="text" name="username" class="input" placeholder="Username" />
                <input type="password" name="password" class="input" placeholder="Password" />
                <p class="sign-in-label">
                    <a class="sign-up-link" href="/forgot-password">Forgot Password?</a>
                </p>
                <button class="form-btn" type="submit">Log in</button>
            </form>
            <p class="sign-up-label">
                Don't have an account? <a href="/register" class="sign-up-link">Sign up</a>
            </p>
            <div class="buttons-container">
                <a href="/auth/google" class="google-login-button">
                    <div class="google-button-content">
                        <img
                                src="https://developers.google.com/identity/images/g-logo.png"
                                alt="Google Logo"
                                class="google-icon"
                        />
                        <span>Log in with Google</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
