.container-admin {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: lightgray;
}

button {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.edit-btn {
  background-color: #4caf50;
}

.delete-btn {
  background-color: #f44336;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.filter {
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  background: #e0f0fa;
}

/* Tổng thể bố cục các thẻ */
.cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 20px;
}

/* Thẻ đơn */
.card-dashboard {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
  font-family: Arial, sans-serif;
}

/* Icon chung */
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

/* Nội dung */
.content-card h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.content-card p {
  margin: 5px 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.chart-container {
  width: 400px;
  margin: 50px auto;
}

// Movie Management
.form-container-movie-manager {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group-movie-manager {
  margin-bottom: 15px;
}

.form-group-movie-manager label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group-movie-manager input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-actions-movie-manager {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
